@import '../../App.scss';

.canvas-container{
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 20px;

    .canvas{
        @include flex-center;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
    }
}