@import '../../App.scss';

.template-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 2rem;
    min-height: 80vh;
    height: 100%;

}

.template-list{
    max-height: 80vh;
    overflow: auto;
    display: flex;
    flex-direction: column;

}


.template-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px;
    margin: 5px;

    .template-preview{
        width: 50%;

        img{width: 100%;}
    }

    &.active{
        background-color: #343434;
    }
}